<div class="row">
  <div class="col s12 m8">
    <h3>{{story.title}}
      <small>{{{editIcon story.user.id user.id story.id false}}}</small>
    </h3>
    <div class="card story">
      <div class="card-content">
        <span class="card-title">{{formatDate story.date 'MMMM Do YYYY'}}</span>
        {{{story.body}}}
      </div>
    </div>

    {{#if story.allowComments}}
      <div class="card">
        <div class="card-content">
          <span class="card-title">Comments</span>
          {{#if user}}
            <form method="post" action="/stories/comment/{{story.id}}">
              <div class="input-field">
                <textarea name="commentBody" class="materialize-textarea"></textarea>
                <label> Add Comment</label>
              </div>
              <input type="submit" value="Submit" class="btn">
            </form>
          {{else}}
            <p>Please <a href="/auth/google">log</a> in to leave a comment</p>
          {{/if}}
        </div>
      </div>

      {{#each story.comments}}
        <div class="card">
          <div class="card-content">
            <h5>{{commentBody}}</h5>
            <div class="chip">
              <img src="{{commentUser.image}}">
              <a href="/stories/user/{{commentUser.id}}">
              {{commentUser.firstName}} {{commentUser.lastName}}
              </a>
            </div>
            <br>
            <small>Posted: {{formatDate commentDate 'MMMM Do YYYY'}}</small>
          </div>
        </div>
      {{/each}}
    {{/if}}
  </div>
  <div class="col s12 m4">
    <div class="card center-align">
      <div class="card-content">
        <span class="card-title">{{story.user.firstName}} {{story.user.lastName}}</span>
        <img src="{{story.user.image}}" class="circle responsive-img">
      </div>
      <div class="card-action">
        <a href="/stories/user/{{story.user.id}}">More From {{story.user.firstName}}</a>
      </div>
    </div>
  </div>
</div>